@import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');

body {
    font-family: 'Victor Mono', monospace;
    margin: 0;
}

.container-one {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;

}

/*HEADER*/
.header {
    display: flex;
    padding: 15px;
    min-width: 1000px;

}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .links {
    margin-left: auto;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding-left: 12px;
}

/*INTRO*/
.intro {
    display: flex;
    margin: 50px 0px;
    max-width: 1000px;
    padding-top: 20px;
}

/*DESCRIPTION*/
.description h1 {
    font-size: 38px;
    font-weight: bold;
    margin: 0;
}

.description p {
    font-size: 15px;
    color: #e5e7eb;
    margin: 0;
}

/*INTRO*/
.intro .image {
    padding-left: 32px;
    max-width: 500px;
    max-height: 250px;
}

.intro .button {
    display: flex;
    margin-top: 15px;
    border-radius: 8px;
    padding: 10px;
    background-color: #3882f6;
    color: white;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    max-width: 110px;
}

/*CONTENT*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1000px;
    margin: 25px 0px;
}

.content .items {
    display: flex;
    max-width: 1000px;
    gap: 50px;
}

.items .block div {
    border-style: solid;
    border-color: #3882f6;
    border-width: 5px;
    height: 130px;
    width: 130px;
    border-radius: 8px;
}

.items .block p {
    font-size: 10px;
    max-width: 130px;
    text-align: center;
}

/*QUOTE*/
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: #e5e7eb;
}

.quote .text {
    max-width: 500px;
    text-align: left;
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

.quote .author {
    min-width: 500px;
    text-align: right;
    font-weight: bold;
}

/*BANNER*/
.banner {
    display: flex;
    min-height: 300px;
    justify-content: center;
    align-items: center;

}

.banner .block {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 50px 0px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner .block .text h3,
.banner .block .text p {
    margin: 0;
    color: white;
}

.banner .block .text p {
    font-size: 12px;
}

.banner .block .text h3 {
    font-weight: bold;
}


.banner .block .button {
    display: flex;
    margin-top: 15px;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    background-color: #3882f6;
    color: white;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    min-width: 110px;
}

/*FOOTER*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    min-height: 100px;

}